* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

#game {
  background: #111;
  border: 2px solid white;
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  margin-bottom: 10px;
}

#score {
  margin: 10px 0;
  font-size: 24px;
}

#controls {
  margin-top: 10px;
}

#controls button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin: 5px;
  border: 2px solid white;
  background-color: #111;
  color: white;
  border-radius: 10px;
  user-select: none;
  outline: none;
}

#settingsBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#settingsMenu {
  background: #111;
  border: 2px solid white;
  padding: 10px;
  margin-top: 20px;
}

#settingsMenu button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
  border: 2px solid white;
  background: #111;
  color: white;
  cursor: pointer;
}

/* Убираем синее выделение */
button:focus, button:active {
  outline: none;
  box-shadow: none;
}
